<!doctype html>
<html>
  <head>
	<title>Socket.IO chat</title>
	<link rel="stylesheet" href="style.css">
  </head>
  <body>
	<div id="app">
		<!-- <div v-if="loading" >
			<img class="loaderAnimation" src="assets/loader.svg">
		</div> -->

		<!-- <div class="isAuth" v-if="authenticated" >
			<img src="assets/check.svg">
			<p class="authTitle" >Você está autenticado!</p>
			<p>Em caso de erros, encerre a sessão e gere um novo QR Code</p>
			<button class="kill" @click="kill" >Encerrar</button>
		</div> -->
		<div class="code" >
			
		</div>

	</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
  var socket = io("http://localhost:3333") // for latest version;

  socket.on("paring", (base64Url) => {
	$(".code").html(`<p>Escaneie o <strong>QR Code</strong> abaixo para sincronizar</p><img src="${base64Url}" alt="">`)
  })

  socket.on("success", () => {
	$(".code").html("<p>Conexão realizada com sucesso</p>");
  })

</script>
</html>